@import url(css-global.css);

/* Media Queries */

@media print {

    html, body, main, article{
        background-image: none;
        font-family: var(--font-destaque);
    }

    #cabecalho {
        display: none;
    }

    #principal {
        box-shadow: none;
    }

    .artigo h2 {
        text-align: center;
    }

    #rodape {
        display: none;
    }
}

@media screen and (min-width: 399px) {
    html, body {
        background-color: black;
        background-image: none;
    }
}

@media screen and (min-width: 599px) {
    html, body {
        background-color: brown;
        background-image: none;
    }
}

@media screen and (min-width: 999px) {
    html, body {
        background-color: darkblue;
        background-image: none;
    }
}
