@import url(css-global.css);

/* Mobile First */

#cabecalho {
    background-color: gray;
    color: white;
    text-align: center;
}

#flex-container-space-between {
    display: flex;
    justify-content: space-between;
}

#logo-titulo {
    padding: 40px;
    font-family: var(--font-destaque);
    font-size: 4em;
    text-shadow: var(--sombra-texto);
}

#IconeMenu {
    display: flex;
    align-items: center;
    font-size: 2.5em;
    padding: 20px;
}

#menu-icone:active {
    background-color: white;
    color: black;
}

#menu {
    display: none; /* propriedade que terá interação com o javascript :-) */
    background-color: rgb(65, 65, 65);
}

#menu ul {
    list-style-type: none;
}

#menu li {
    border-top: 1px solid gray;
}

#menu a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

#menu a:active {
    text-decoration: none;
    color: black;
    background-color: white;
}

#principal {
    background-color: white;
    max-width: 800px;
    padding: 10px;
    margin: 50px auto;
    border-radius: 10px 0;
    box-shadow: var(--sombra-caixa);
}

.artigo {
    width: 100%;
    text-align: justify;
}

.imagens {
    display: flex;
    justify-content: center;
    padding: 3.5em;
}

.imagens img {
    width: 100%;
}

#rodape {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 25px;
}

#rodape p {
    font-size: 0.8em;
    text-indent: 0;
    padding: 0;
    text-shadow: var(--sombra-texto);
}