@charset "UTF-8";

/* Mobile First */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --font-padrao: Arial, Helvetica, sans-serif;
    --font-destaque: 'Courier New', Courier, monospace;

    --sombra-box: 5px 5px 10px rgba(0, 0, 0, 0.3);;
    --sombra-text: 1px 0px 3px rgba(0, 0, 0, 0.8);;
}

::selection {
    background-color: lightcoral;
}

html, body {
    background-color: lightgray;
    font-family: var(--font-padrao);
    width: 100%;
    height: 100%;
}

#cabecalho {
    background-color: gray;
    box-shadow: var(--sombra-box);
}

#cabecalho > .h1-titulo {
    color: white;
    text-align: center;
    padding: 50px;
    font-family: var(--font-destaque);
    font-size: 3em;
    letter-spacing: 1vw;
}

#menu-icone {
    display: block;
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
}

#menu-icone:active {
    background-color: white;
    color: black;
}

.menu {
    display: none;
}

.menu > ul {
    list-style-type: none;
}

.menu a {
    display: block; /* se não colocar ele como display block, os links serão sobrepostos pelo padding deles mesmos. */
    text-decoration: none;
    text-align: center;
    color: white; 
    padding: 10px;
    background-color: rgb(75, 75, 75);
    border-bottom: 1px solid gray;
}

.menu a:hover {
    text-decoration: none;
    color: black;
    background-color: white;
}

#main {
    width: 90%;
    background-color: white;
    margin: 10px auto;
    padding: 15px;
    border-radius: 0 10px 10px 0;
    box-shadow: var(--sombra-box);
}

.artigo {
    padding: 10px;
}

.artigo h2 {
    font-size: 2.2em;
    margin: 10px 0 30px;
}

.artigo p {
    text-indent: 1.5em;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 1em 0;
}

.imagem-falsa {
    display: block;
    width: 100%;
    height: 25vh;
    margin: 30px auto;
    background: white url('https://cdn.iconscout.com/icon/free/png-256/free-grid-application-menu-artboard-layer-7-16383.png') center space scroll;
    background-size: contain;

}