@charset "UTF-8";

/* Versões para diferentes telas */

/* tablet */
@media screen and (min-width: 767px) {
    body {
        background-image: url(../../imagens/back-tablet.jpg);
    }

    #celular { display: none;}
    
    #tablet { display: block;}
}

/* pc */
@media screen and (min-width: 1023px) {
    body {
        background-image: url(../../imagens/back-pc.jpg);
    }

    #tablet { display: none;}

    #pc { display: block;}
}

/* tv */
@media screen and (min-width: 2000px) {
    body {
        background-image: url(../../imagens/back-tv.jpg);
    }

    #pc { display: none;}

    #tv { display: block;}
}

/* impressão */
@media print {

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-color: white;
        background-image: url(../../imagens/back-print.jpg); /* Não funciona infelizmente ;=; */
    }

    main {
        border: 2px solid black;
    }

    main > * {
        color: black;
        text-shadow: 0 0 0 transparent;
    }

    #celular { display: none;}

    #impressora { display: block;}
}