@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", cursive;
    --font3: cursive;
}

html, body{
    min-height: 100vh;
    background: #a9a9a9;
    font: normal normal 1em var(--font1);
}

#cabecalho{
    background: black;
    color: white;
    text-align: center;
}

#titulo-principal{
    padding: 50px 0 0 0;
    font-family: var(--font2);
    font-variant: small-caps;
}

#cabecalho > p{
    padding: 0 0 50px 0;
}

#cabecalho a, #rodape a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#cabecalho a:hover, #rodape a:hover{
    text-decoration: underline;
}

section{
    padding: 10vh 5vw;
    line-height: 2em;
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: black;
    color: white;
}

.imagem > p{
    width: 350px;
    background-color: rgba(0, 0, 0, 0.3);
}

.joaninha{
    background: black url('../imagens/background001.jpg') center no-repeat fixed;
    background-size: cover;
}

.papel{
    background: black url('../imagens/background002.jpg') center no-repeat fixed;
    background-size: cover;
}

#rodape{
    background: black;
    text-align: center;
    color: white;
    font-size: 0.8em;
    padding: 10px;
}