@charset "UTF-8";


@font-face {
    font-family: "social-media-circled";
    src: url(../fonts/Social\ Media\ Circled.ttf) format('TrueType');
}

@font-face {
    font-family: "sosmed-phone-regular";
    src: url(../fonts/Sosmed_phone-Regular.otf) format('OpenType');
}

/* PALETA DE CORES

    Cinza-logo: #BABABA;
    Azul-marinho: #23445B;
    Azul-claro-titulos: #9EC5DF;
    Verde-ciano-numeros: #23797A;
    Cinza-claro-titulos: #FDFFFD;
    Verde-ciano-botao: #23777B;

*/

:root {
    /* CORES */
    --cinza: #bababa;
    --cinza-num: #e0e0e0;
    --cinza-claro:#fdfffd;
    --cinza-forte: gray;
    --idMenu-active: color-mix(in srgb, var(--cinza-forte), black 30%);
    --cinza-chat: #799992;
    --cinza-chat-hover: color-mix(in srgb, var(--cinza-chat), black 20%);
    --cinza-chat-active: color-mix(in srgb, var(--cinza-chat), black 60%);
    --azul: #23445b;
    --azul-forte: #193041;
    --azul-claro: #9ec5df;
    --social-media-icon-hover: color-mix(in srgb, var(--azul), black 10%);
    --social-media-icon-active: color-mix(in srgb, var(--azul), black 40%);
    --verde-num: #23797a;
    --verde-btn: #23777b;
    --verde-btn-hover: color-mix(in srgb, var(--verde-btn), black 20%);
    --verde-btn-active: color-mix(in srgb, var(--verde-btn), black 60%);
    --verde-app: #3ee03e;
    --verde-app-hover: color-mix(in srgb, var(--verde-app), black 20%);
    --verde-app-active: color-mix(in srgb, var(--verde-app), black 60%);

    /* FONTES */
    --font-padrao: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-especial: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::selection {
    background-color: var(--azul-claro);
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-padrao);
    background: white url(../imagens/imagem-inspiradora-paisagem-2.jpg) center no-repeat fixed;
    background-size: cover;
}

.principal {
    max-width: 1500px;
    margin: auto;
}

.social-media-icon {
    font-family: "social-media-circled";
    font-style: normal;
    font-weight: normal;
    color: var(--verde-num);
    font-size: 2.25em;
    padding: 10px;
}

.link-icones {transition: 100ms ease;}

.link-icones:hover {
    text-decoration: none;
    color: var(--social-media-icon-hover);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-3%);
}

.social-media-icon:hover {color: var(--social-media-icon-hover);}

.social-media-icon:active {color: var(--social-media-icon-active);}

.social-media-icon-2 {
    font-family: "sosmed-phone-regular";
    font-style: normal;
    color: var(--verde-num);
    font-size: 6em;
    cursor: pointer;
}

.social-media-icon-2:hover {color: var(--azul); transform: translateY(-1%);}

.social-media-icon-2:active {color: var(--azul-forte);}

.btn-1 {
    text-shadow: none;
    text-align: center;
    color: var(--azul-forte);
    background-color: white;
    padding: 10px 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    transition: 0.1s, transform 0.5s;
}

.btn-1:hover {
    background-color: var(--azul);
    color: white;
    text-decoration: none;
    transform: translateY(-2%);
}

/* COLOR-MIX( in [color-space], [color1] [percentage], [color2] [percentage])

    color-spaces:
        <rectangular-color-space> = 
            srgb          |
            srgb-linear   |
            display-p3    |
            a98-rgb       |
            prophoto-rgb  |
            rec2020       |
            lab           |
            oklab         |
            xyz           |
            xyz-d50       |
            xyz-d65       

        <polar-color-space> = 
            hsl    |
            hwb    |
            lch    |
            oklch  |

        <hue-interpolation-method> = 
            [ shorter | longer | increasing | decreasing ] hue 

    Útil para sombrear algum tipo de interação sem precisar criar ou modificar nenhuma das variaveis no ':root'. Como clicar em botões, por exemplo, ou apenas passar o mouse em cima de links, e claro, ambos se assim preferir.
*/

.btn-1:active {
    background-color: color-mix(in srgb, var(--azul), black 30%);
    color: white;
}

.curva {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 220px;
    background-color: var(--azul);
    color: var(--cinza-claro);
    border-bottom-left-radius: 300px 100px;
    border-bottom-right-radius: 300px 100px;
    /* Não foi uma ótima aplicabilidade do 'border-bottom-right-radius', e do 'border-bottom-left-radius', porque para um efeito mais proximo do template poderia ser utilizado um 'border-radius: 50%;' em conjunto da propriedade 'translateY' de um 'transform'. */
}

.curva > h2 {
    font-size: clamp(1.4em, 8vw, 2em);
    max-width: 400px;
    margin: 20px 10px;
}

.curva > p {
    /* font-size: 0.8em; */

    /* font-size: max(3vw, 15px); Identico*/
        /* font-size: max(15px, 3vw); Identico*/

    /* font-size: min(3vw, 15px); Identico*/
        /* font-size: min(15px, 3vw);  Identico*/

    /* font-size: min(max(12px, 3vw), 20px);
        Crescente:
            12px = tamanho mínimo;
            3vw = fator de crescimento entre mínimo e máximo
            20px = tamanho máximo
    */

    font-size: clamp(0.7em, 2vw, 1em); /* Mesma lógica do min(max(12px, 3vw), 20px) */
    width: 85%;
}

.btn-2 {
    border: 2px solid var(--azul);
    text-shadow: none;
    text-align: center;
    color: var(--azul-forte);
    background-color: white;
    padding: 10px clamp(20px, 5vw, 50px);
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    transition: 0.1s, transform 0.5s;
}

.btn-2:hover {
    background-color: var(--azul);
    color: white;
    text-decoration: none;
    transform: translateY(-2%);
}

.btn-2:active {
    background-color: var(--azul-forte);
    color: white;
}

.btn-3 {
    display: block;
    width: clamp(100px, 80vw, 300px);
    cursor: pointer;
    background-color: var(--verde-btn);
    color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    transition: transform 100ms ease;
}

.btn-3:hover {
    background-color: var(--verde-btn-hover);
    text-decoration: none;
    transform: translateY(2%);
}

.btn-3:active {
    background-color: var(--verde-btn-active);
    transform: translateY(5%);
}

a {
    font-weight: bold;
    color: var(--verde-btn);
    text-decoration: none;
}

a:hover {text-decoration: underline;}

a:active {color: var(--azul);}

#linkLogo {color: inherit;}

#linkLogo:hover {text-decoration: none;}

#linkLogo:active {color: var(--cinza-chat);}

/* OBSERVAÇÃO
    Não usar demais a propriedade clamp() para não gerar bugs em resoluções, principalmente em celulares quando a opção "ver no computador" estiver ativa. Procure usar media-queries para fazer 'grandes' trocas de tamanho, principalmente em textos.
*/