@charset "UTF-8";
/* Media-queries */

/* Tablet */

@media screen and (min-width: 600px) {
    .container-numbers {
        max-width: 750px;
    }

    .number {
        width: 45%;
    }

    .container-cartoes-pessoais {
        width: 750px;
        justify-content: center;
    }

    .cartoes-pessoais {
        width: 45%;
    }
}

/* Desktop */

@media screen and (min-width:1000px) {

    .container-coluna {
        width: 380px;
        color: var(--cinza-claro);
    }

    .container-numbers {
        flex-wrap: nowrap;
        max-width: 1000px;
    }

    .container-cartoes-pessoais {
        width: 1350px;
        gap: 25px;
    }

    .imagem-pessoal {align-self: center;}

    .conteudo-cartao-pessoal > h3 {text-align: left;}

    .conteudo-cartao-pessoal {width: 60%;}

    .container-icones {
        justify-content: start;
        gap: 5px;
        margin: initial;
    }

    .social-media-icon {font-size: 2em;}
}

/* Desktop & TV */