@charset "UTF-8";
/* Media-queries */

/* Tablet */

@media screen and (min-width: 600px) {
    .container-apresentacao {max-width: 450px;}
    
    .apresentacao {
        backdrop-filter: blur(2px);
        border-radius: 10px;
    }

    .container-numbers {max-width: 750px;}

    .number {width: 45%;}

    .cartoes-pessoais:nth-last-child(2) {margin: 0 0 30px;}

    .container-cartoes-pessoais {
        width: 750px;
        justify-content: center;
    }

    .cartoes-pessoais {width: 45%;}

    .container-cartoes-flutuantes {
        width: 750px;
        transform: translateY(-40%);
    }

    .cartoes-flutuantes {width: 22.5%;}

    .cartoes-flutuantes > h4 {margin: 1vw 0;}

    .container-principal.c8 > .contatos {width: 50%;}

    .container-principal.c8 > .contatos:nth-child(1) {
        width: 100%;
    }

    .container-principal.c8 > .contatos:nth-last-child(2) {margin-bottom: 100px;}
}

/* Desktop */

@media screen and (min-width:1000px) {
    .container-principal.c1 {justify-content: start;}

    .container-apresentacao {max-width: 50%;}

    .apresentacao {max-width: 80%;}

    .container-coluna {
        width: 380px;
        color: var(--cinza-claro);
    }

    .container-numbers {
        flex-wrap: nowrap;
        max-width: 1000px;
    }

    .container-cartoes-pessoais {
        width: 1350px;
        gap: 25px;
    }

    .imagem-pessoal {align-self: center;}

    .conteudo-cartao-pessoal > h3 {text-align: left;}

    .conteudo-cartao-pessoal {width: 60%;}

    .container-icones {
        justify-content: start;
        gap: 5px;
        margin: initial;
    }

    .social-media-icon {font-size: 2em;}

    .container-principal.c8 > .contatos {
        width: calc(100%/3);
        margin: 100px 0;
    }

    .container-principal.c8 > .contatos:nth-child(1) {
        width: calc(100%/3);
    }
}

/* Desktop & TV */