@charset "UTF-8";
/* Mobile First */

.cabecalho {
    display: flex;
    position: sticky;
    top: 0;
    background-color: var(--cinza-claro);
    align-items: center;
    height: 10vh;
}

.container-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.logo {
    font-family: var(--font-padrao);
    font-size: 1.5em;
    padding: 15px;
    color: var(--cinza);
    cursor: pointer;
}

.menu {
    padding: 15px;
    cursor: pointer;
}

.container-principal {
    display: flex;
    width: 100%;
    /* apenas para ter uma ideia geral de como e o que vai ser modificado */
    background-color: lightblue;
    margin: 10px 0;
}

.c1 {
    display: flex;
    justify-content: center;
    height: 90vh;
    background: red url(../imagens/professora-quadro-negro.jpg) left no-repeat;
    background-size: cover;
    color: white;
}

.container-apresentacao {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    width: 90%;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.container-apresentacao * {
    padding: 10px;
}

.titulo-centro-treinamento {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.titulo-principal {
    margin: 10px 0;
}

.container-apresentacao p {
    text-align: justify;
    line-height: 1.5em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.rodape {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    height: 80px;
    background-color: var(--cinza-claro);
}

.container-links-rodape {
    font-family: var(--font-padrao);
    max-width: 400px;
    text-align: center;
    font-size: .8em;
}

.container-links-rodape > p {padding: 3px 0;}