@charset "UTF-8";
/* Mobile First */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.container {
    display: flex;
    width: 100%;
    /* apenas para ter uma ideia geral de como e o que vai ser modificado */
    height: 100px;
    background-color: lightblue;
    border: 1px solid black;
    margin: 1px 0;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}