@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, gray, darkgray);
    width: 95vw;
    height: 100vh;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: end; /* Vertical se o flex-direction tiver valor 'row'. */ 
    justify-content: space-around; /* Horizontal se o flex-direction tiver valor 'row'. Pode-se usar para espaçamento entre os itens, também seguindo o plano Horizontal.*/
    align-content: end; /* Vertical se o flex-direction tiver valor 'row'. Pode-se usar para espaçamento entre os itens, também seguindo o plano Vertical.*/

    width: 70vw;
    height: 100vh;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
}

.box{
    display: inherit;
    flex-direction: column;
    justify-content: end; /* Vertical se o flex-direction tiver valor 'column'. */
    align-items: center; /* Horizontal se o flex-direction tiver valor 'column'. */

    border: 1px solid black;
    border-radius: 5px;
    height: 80px;
    width: 50px;
    margin: 10px;
}

.e1{
    background-color: #a52a2a;
}

.e2{
    background-color: #34a52a;
}

.e3{
    background-color: #2a7ea5;
}

.e4{
    background-color: #882aa5;
}