@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html, body, .container {
    width: 100%;
    height: 100%;
    background-color: black;
}

.container, .box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: rgba(165, 42, 42, 0.8);
    width: 200px;
    height: 200px;
    position: relative;
}

.box:hover:before {
    content: "";
    background-image: linear-gradient(to bottom, rgba(0, 174, 255, 0.301), rgba(0, 0, 255, 0.301));
    width: 1px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    animation: animacao-da-barrinha 1500ms ease;
}

@keyframes animacao-da-barrinha {
    0% {
        top: 0;
    }
    
    50% {
        top: 50%;
        height: 80px;
    }
    
    100% {
        top: 0;
        left: 0;
    }
}